Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/ProjectService/ProjectService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://server2.ggk.com/PracticeManagementService/ProjectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://server2.ggk.com/PracticeManagementService/ProjectService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
  <xs:element name="ProjectGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ProjectGetByIdResult" nillable="true" type="q1:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectBillingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectBillingInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectBillingInfoResult" nillable="true" type="q2:BillingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsComputedFinancials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsComputedFinancialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectsComputedFinancialsResult" nillable="true" type="q3:ComputedFinancials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectMilestonesFinancials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectMilestonesFinancialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProjectMilestonesFinancialsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectCountByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectCountByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectCountByClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectListAllResult" nillable="true" type="q4:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProjectsByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="viewerUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProjectsByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ListProjectsByClientResult" nillable="true" type="q5:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProjectsByClientShort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="IsOnlyActiveAndProjective" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProjectsByClientShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ListProjectsByClientShortResult" nillable="true" type="q6:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProjectsByClientWithSort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="viewerUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProjectsByClientWithSortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ListProjectsByClientWithSortResult" nillable="true" type="q7:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloneProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q8:ProjectCloningContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloneProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloneProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projected" type="xs:boolean" />
        <xs:element minOccurs="0" name="completed" type="xs:boolean" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
        <xs:element minOccurs="0" name="experimantal" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectListCustomResult" nillable="true" type="q9:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="periodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salespersonId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="practiceManagerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="practiceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="projectGroupId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="includeCurentYearFinancials" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectListResult" nillable="true" type="q10:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectListAllMultiParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
        <xs:element minOccurs="0" name="periodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salespersonIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectOwnerIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectGroupIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeCurentYearFinancials" type="xs:boolean" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectListAllMultiParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ProjectListAllMultiParametersResult" nillable="true" type="q11:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListWithFinancials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
        <xs:element minOccurs="0" name="periodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="salespersonIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectOwnerIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectGroupIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListWithFinancialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectListWithFinancialsResult" nillable="true" type="q12:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListGroupByPracticeManagers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
        <xs:element minOccurs="0" name="periodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="salespersonIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectOwnerIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectGroupIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListGroupByPracticeManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectListGroupByPracticeManagersResult" nillable="true" type="q13:ArrayOfMilestonePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q14:BenchReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetBenchListResult" nillable="true" type="q15:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenchListWithoutBenchTotalAndAdminCosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q16:BenchReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenchListWithoutBenchTotalAndAdminCostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetBenchListWithoutBenchTotalAndAdminCostsResult" nillable="true" type="q17:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectListByClientResult" nillable="true" type="q18:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectSearchText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="looked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectSearchTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ProjectSearchTextResult" nillable="true" type="q19:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectDetailResult" nillable="true" type="q20:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetailWithoutMilestones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetailWithoutMilestonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectDetailWithoutMilestonesResult" nillable="true" type="q21:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="project" nillable="true" type="q22:Project" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProjectDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonthMiniReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="month" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonthMiniReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MonthMiniReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonStartsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salespersonId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="practiceManagerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonStartsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonStartsReportResult" nillable="true" type="q23:ArrayOfPersonStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProjectIdResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonBudgetListByYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="categoryType" type="q24:BudgetCategoryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonBudgetListByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonBudgetListByYearResult" nillable="true" type="q25:ArrayOfProjectsGroupedByPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PracticeBudgetListByYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PracticeBudgetListByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PracticeBudgetListByYearResult" nillable="true" type="q26:ArrayOfProjectsGroupedByPractice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryItemBudgetSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="categoryType" type="q27:BudgetCategoryType" />
        <xs:element minOccurs="0" name="monthStartDate" type="xs:dateTime" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="amount" type="q28:PracticeManagementCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryItemBudgetSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateBudgetForPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
        <xs:element minOccurs="0" name="practiceIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
        <xs:element minOccurs="0" name="personIds" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="categoryType" type="q29:BudgetCategoryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateBudgetForPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="CalculateBudgetForPersonsResult" nillable="true" type="q30:ArrayOfProjectsGroupedByPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateBudgetForPractices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
        <xs:element minOccurs="0" name="practiceIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateBudgetForPracticesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="CalculateBudgetForPracticesResult" nillable="true" type="q31:ArrayOfProjectsGroupedByPractice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryItemsSaveFromXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="categoryItems" nillable="true" type="q32:ArrayOfCategoryItemBudget" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryItemsSaveFromXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>
