Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/PersonService/DataTransferObjects.Reports2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="ArrayOfConsultantUtilizationPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultantUtilizationPerson" nillable="true" type="tns:ConsultantUtilizationPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultantUtilizationPerson" nillable="true" type="tns:ArrayOfConsultantUtilizationPerson" />
  <xs:complexType name="ConsultantUtilizationPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableHours" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CompanyHolidayDates" nillable="true" type="q1:ArrayOfKeyValueOfdateTimestring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q2:Person" />
      <xs:element minOccurs="0" name="PersonVacationDays" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectedHours" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TimeOffDates" nillable="true" type="q3:ArrayOfdateTime" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WeeklyPayTypes" nillable="true" type="q4:ArrayOfint" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WeeklyUtilization" nillable="true" type="q5:ArrayOfint" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WeeklyVacationDays" nillable="true" type="q6:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultantUtilizationPerson" nillable="true" type="tns:ConsultantUtilizationPerson" />
</xs:schema>
