Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/PersonService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="PersonReactivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonReactivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonOverheadByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonOverheadByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonOverheadByPersonResult" nillable="true" type="q2:ArrayOfPersonOverhead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonOverheadByTimescale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="timescale" type="q3:TimescaleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonOverheadByTimescaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonOverheadByTimescaleResult" nillable="true" type="q4:ArrayOfPersonOverhead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="milestonePerson" nillable="true" type="q5:MilestonePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonRateResult" nillable="true" type="q6:MilestonePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProposedFinancials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="proposedRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="proposedHoursPerWeek" type="xs:decimal" />
        <xs:element minOccurs="0" name="defaultSalesCommission" type="xs:decimal" />
        <xs:element minOccurs="0" name="clientDiscount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProposedFinancialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="CalculateProposedFinancialsResult" nillable="true" type="q7:ComputedFinancialsEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProposedFinancialsPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q8:Person" />
        <xs:element minOccurs="0" name="proposedRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="proposedHoursPerWeek" type="xs:decimal" />
        <xs:element minOccurs="0" name="defaultSalesCommission" type="xs:decimal" />
        <xs:element minOccurs="0" name="clientDiscount" type="xs:decimal" />
        <xs:element minOccurs="0" name="isMarginTestPage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProposedFinancialsPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="CalculateProposedFinancialsPersonResult" nillable="true" type="q9:ComputedFinancialsEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProposedFinancialsPersonTargetMargin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q10:Person" />
        <xs:element minOccurs="0" name="targetMargin" type="xs:decimal" />
        <xs:element minOccurs="0" name="proposedHoursPerWeek" type="xs:decimal" />
        <xs:element minOccurs="0" name="defaultSalesCommission" type="xs:decimal" />
        <xs:element minOccurs="0" name="clientDiscount" type="xs:decimal" />
        <xs:element minOccurs="0" name="isMarginTestPage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProposedFinancialsPersonTargetMarginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="CalculateProposedFinancialsPersonTargetMarginResult" nillable="true" type="q11:ComputedFinancialsEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPaymentResult" nillable="true" type="q12:Pay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="pay" nillable="true" type="q13:Pay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSeniorities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSenioritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ListSenioritiesResult" nillable="true" type="q14:ArrayOfSeniority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPermissionsForPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q15:Person" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="permissions" nillable="true" type="q16:PersonPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPermissionsForPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonByIdResult" nillable="true" type="q17:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListManagersSubordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q18:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListManagersSubordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ListManagersSubordinatesResult" nillable="true" type="q19:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListByStatusList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListByStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonListByStatusListResult" nillable="true" type="q20:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListByPersonIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListByPersonIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonListByPersonIdListResult" nillable="true" type="q21:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserTemporaryCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PMLoginPageUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PMChangePasswordPageUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserTemporaryCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserTemporaryCredentialsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfTemporaryCredentialsValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfTemporaryCredentialsValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfTemporaryCredentialsValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewPasswordForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewPasswordForUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListByCategoryTypeAndPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="categoryType" type="q22:BudgetCategoryType" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListByCategoryTypeAndPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonListByCategoryTypeAndPeriodResult" nillable="true" type="q23:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonMilestoneWithFinancials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonMilestoneWithFinancialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonMilestoneWithFinancialsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAsDefaultManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q24:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAsDefaultManagerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSomeonesManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q25:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSomeonesManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSomeonesManagerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="oldManager" nillable="true" type="q26:Person" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="newManager" nillable="true" type="q27:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewManagerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultantUtilizationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q28:ConsultantTableReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultantUtilizationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConsultantUtilizationReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultantUtilizationWeekly">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q29:ConsultantTimelineReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultantUtilizationWeeklyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetConsultantUtilizationWeeklyResult" nillable="true" type="q30:ArrayOfKeyValueOfPersonArrayOfintrdkL8Uaz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultantUtilizationDailyByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q31:ConsultantTimelineReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultantUtilizationDailyByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConsultantUtilizationDailyByPersonResult" nillable="true" type="q32:ArrayOfKeyValueOfPersonArrayOfintrdkL8Uaz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCompensationCoversMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q33:Person" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCompensationCoversMilestoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCompensationCoversMilestoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentPayExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentPayExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentPayExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonGetExcelSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonGetExcelSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonGetExcelSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q34:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPermissionsResult" nillable="true" type="q35:PersonPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practice" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="looked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recruiterId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonListResult" nillable="true" type="q36:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListWithCurrentPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practice" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="looked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recruiterId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListWithCurrentPayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonListWithCurrentPayResult" nillable="true" type="q37:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListActiveDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practice" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="looked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="recruiterId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListActiveDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonListActiveDateResult" nillable="true" type="q38:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListAllShort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practice" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListAllShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonListAllShortResult" nillable="true" type="q39:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonsGetBySeniorityAndStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seniorityId" type="xs:int" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonsGetBySeniorityAndStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonsGetBySeniorityAndStatusResult" nillable="true" type="q40:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListShortByRoleAndStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListShortByRoleAndStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonListShortByRoleAndStatusResult" nillable="true" type="q41:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListAllForMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestonePersonId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListAllForMilestoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonListAllForMilestoneResult" nillable="true" type="q42:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practice" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showAll" type="xs:boolean" />
        <xs:element minOccurs="0" name="looked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recruiterId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonWorkDaysNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonWorkDaysNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonWorkDaysNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecruiterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="hireDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecruiterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetRecruiterListResult" nillable="true" type="q43:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalespersonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeInactive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalespersonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetSalespersonListResult" nillable="true" type="q44:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListSalesperson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q45:Person" />
        <xs:element minOccurs="0" name="inactives" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListSalespersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonListSalespersonResult" nillable="true" type="q46:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeManagerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeInactive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeManagerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPracticeManagerListResult" nillable="true" type="q47:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListProjectOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeInactive" type="xs:boolean" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q48:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListProjectOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonListProjectOwnerResult" nillable="true" type="q49:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListPracticeManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q50:Person" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeInactive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonListPracticeManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonListPracticeManagerResult" nillable="true" type="q51:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practiceManagerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetSubordinatesResult" nillable="true" type="q52:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneOffList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="today" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneOffListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOneOffListResult" nillable="true" type="q53:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonDetailResult" nillable="true" type="q54:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByAlias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByAliasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonByAliasResult" nillable="true" type="q55:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q56:Person" />
        <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePersonDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonInactivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q57:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonInactivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>
