Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/PersonService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetPersonEmploymentHistoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonEmploymentHistoryById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonEmploymentHistoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonEmploymentHistoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonAdministrativeTimeTypesInRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonAdministrativeTimeTypesInRange" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonAdministrativeTimeTypesInRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonAdministrativeTimeTypesInRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescaleResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_DeletePersonEncodedPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonEncodedPassword" />
  </wsdl:message>
  <wsdl:message name="IPersonService_DeletePersonEncodedPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonEncodedPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CheckIfPersonPasswordValid_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfPersonPasswordValid" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CheckIfPersonPasswordValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfPersonPasswordValidResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_UpdateUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserPassword" />
  </wsdl:message>
  <wsdl:message name="IPersonService_UpdateUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCurrentByPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentByPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCurrentByPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentByPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SendAdministratorAddedEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAdministratorAddedEmail" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SendAdministratorAddedEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAdministratorAddedEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListByPersonIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListByPersonIdList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListByPersonIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListByPersonIdListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListByPersonIdsAndPayTypeIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListByPersonIdsAndPayTypeIds" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListByPersonIdsAndPayTypeIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListByPersonIdsAndPayTypeIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveUserTemporaryCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserTemporaryCredentials" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveUserTemporaryCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserTemporaryCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CheckIfTemporaryCredentialsValid_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfTemporaryCredentialsValid" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CheckIfTemporaryCredentialsValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfTemporaryCredentialsValidResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SetNewPasswordForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewPasswordForUser" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SetNewPasswordForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewPasswordForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListByCategoryTypeAndPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonListByCategoryTypeAndPeriod" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListByCategoryTypeAndPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListByCategoryTypeAndPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CheckPersonTimeEntriesAfterTerminationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPersonTimeEntriesAfterTerminationDate" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CheckPersonTimeEntriesAfterTerminationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPersonTimeEntriesAfterTerminationDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonMilestonesAfterTerminationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonMilestonesAfterTerminationDate" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonMilestonesAfterTerminationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonMilestonesAfterTerminationDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPasswordHistoryByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordHistoryByUserName" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPasswordHistoryByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordHistoryByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetEncodedPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEncodedPassword" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetEncodedPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEncodedPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_RestartCustomMembershipProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:RestartCustomMembershipProvider" />
  </wsdl:message>
  <wsdl:message name="IPersonService_RestartCustomMembershipProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartCustomMembershipProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SendLockedOutNotificationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLockedOutNotificationEmail" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SendLockedOutNotificationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendLockedOutNotificationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetIsNoteRequiredDetailsForSelectedDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIsNoteRequiredDetailsForSelectedDateRange" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetIsNoteRequiredDetailsForSelectedDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIsNoteRequiredDetailsForSelectedDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetOwnerProjectsAfterTerminationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnerProjectsAfterTerminationDate" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetOwnerProjectsAfterTerminationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnerProjectsAfterTerminationDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetActiveOpportunitiesByOwnerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveOpportunitiesByOwnerId" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetActiveOpportunitiesByOwnerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveOpportunitiesByOwnerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveStrawman_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStrawman" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveStrawman_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStrawmanResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_DeleteStrawman_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStrawman" />
  </wsdl:message>
  <wsdl:message name="IPersonService_DeleteStrawman_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStrawmanResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmanDetailsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmanDetailsById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmanDetailsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmanDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmenListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmenListAll" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmenListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmenListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmenListAllShort_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmenListAllShort" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmenListAllShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmenListAllShortResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveStrawManFromExisting_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStrawManFromExisting" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveStrawManFromExisting_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStrawManFromExistingResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetConsultantswithDemand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultantswithDemand" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetConsultantswithDemand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultantswithDemandResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsPersonHaveActiveStatusDuringThisPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonHaveActiveStatusDuringThisPeriod" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsPersonHaveActiveStatusDuringThisPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonHaveActiveStatusDuringThisPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonsListHavingActiveStatusDuringThisPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonsListHavingActiveStatusDuringThisPeriod" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonsListHavingActiveStatusDuringThisPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonsListHavingActiveStatusDuringThisPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetApprovedByManagerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovedByManagerList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetApprovedByManagerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovedByManagerListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListBySearchKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListBySearchKeyword" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListBySearchKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListBySearchKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPayHistoryShortByPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayHistoryShortByPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPayHistoryShortByPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayHistoryShortByPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsPersonSalaryTypeListByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonSalaryTypeListByPeriod" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsPersonSalaryTypeListByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonSalaryTypeListByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonDetailsShort_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonDetailsShort" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonDetailsShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonDetailsShortResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmanDetailsByIdWithCurrentPay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmanDetailsByIdWithCurrentPay" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmanDetailsByIdWithCurrentPay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmanDetailsByIdWithCurrentPayResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetHistoryByPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryByPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetHistoryByPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryByPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmanListShortFilterWithTodayPay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmanListShortFilterWithTodayPay" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStrawmanListShortFilterWithTodayPay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrawmanListShortFilterWithTodayPayResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetTerminationReasonsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminationReasonsList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetTerminationReasonsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminationReasonsListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonHireAndTerminationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonHireAndTerminationDate" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonHireAndTerminationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonHireAndTerminationDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ListAllSeniorityCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllSeniorityCategories" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ListAllSeniorityCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllSeniorityCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListWithRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListWithRole" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListWithRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListWithRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonMilestoneWithFinancials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonMilestoneWithFinancials" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonMilestoneWithFinancials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonMilestoneWithFinancialsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SetAsDefaultManager_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAsDefaultManager" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SetAsDefaultManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAsDefaultManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SetNewManager_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewManager" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SetNewManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetConsultantUtilizationWeekly_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultantUtilizationWeekly" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetConsultantUtilizationWeekly_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultantUtilizationWeeklyResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ConsultantUtilizationDailyByPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultantUtilizationDailyByPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ConsultantUtilizationDailyByPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultantUtilizationDailyByPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsCompensationCoversMilestone_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCompensationCoversMilestone" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsCompensationCoversMilestone_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCompensationCoversMilestoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CurrentPayExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrentPayExists" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CurrentPayExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentPayExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonGetExcelSet_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonGetExcelSet" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonGetExcelSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonGetExcelSetResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissions" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListWithCurrentPayByCommaSeparatedIdsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListWithCurrentPayByCommaSeparatedIdsList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListWithCurrentPayByCommaSeparatedIdsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListWithCurrentPayByCommaSeparatedIdsListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListAllShort_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonListAllShort" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListAllShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListAllShortResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_OwnerListAllShort_InputMessage">
    <wsdl:part name="parameters" element="tns:OwnerListAllShort" />
  </wsdl:message>
  <wsdl:message name="IPersonService_OwnerListAllShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:OwnerListAllShortResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListShortByRoleAndStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonListShortByRoleAndStatus" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListShortByRoleAndStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListShortByRoleAndStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListShortByTitleAndStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonListShortByTitleAndStatus" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListShortByTitleAndStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListShortByTitleAndStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListAllForMilestone_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonListAllForMilestone" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListAllForMilestone_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListAllForMilestoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonCountByCommaSeperatedIdsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonCountByCommaSeperatedIdsList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonCountByCommaSeperatedIdsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonCountByCommaSeperatedIdsListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonWorkingHoursDetailsWithinThePeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonWorkingHoursDetailsWithinThePeriod" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonWorkingHoursDetailsWithinThePeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonWorkingHoursDetailsWithinThePeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetRecruiterList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecruiterList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetRecruiterList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecruiterListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetSalespersonList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalespersonList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetSalespersonList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalespersonListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListSalesperson_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonListSalesperson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListSalesperson_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListSalespersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListProjectOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonListProjectOwner" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonListProjectOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListProjectOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetOneOffList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneOffList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetOneOffList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneOffListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonDetail" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonByAlias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByAlias" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonByAlias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByAliasResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SavePersonDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePersonDetail" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SavePersonDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePersonDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SavePersonDetail_DataAccessFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" name="detail" element="q1:DataAccessFault" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonValidations_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonValidations" />
  </wsdl:message>
  <wsdl:message name="IPersonService_PersonValidations_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonValidationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonOverheadByTimescale_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonOverheadByTimescale" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonOverheadByTimescale_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonOverheadByTimescaleResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonRate" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonRateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CalculateProposedFinancialsPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateProposedFinancialsPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CalculateProposedFinancialsPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateProposedFinancialsPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SavePay_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePay" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SavePay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePayResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_DeletePay_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePay" />
  </wsdl:message>
  <wsdl:message name="IPersonService_DeletePay_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePayResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ListSeniorities_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSeniorities" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ListSeniorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSenioritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SetPermissionsForPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPermissionsForPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SetPermissionsForPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPermissionsForPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ListManagersSubordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:ListManagersSubordinates" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ListManagersSubordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListManagersSubordinatesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListByStatusList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListByStatusList" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonListByStatusList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonListByStatusListResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetPersonEmploymentHistoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonEmploymentHistoryById" message="tns:IPersonService_GetPersonEmploymentHistoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonEmploymentHistoryByIdResponse" message="tns:IPersonService_GetPersonEmploymentHistoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonAdministrativeTimeTypesInRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonAdministrativeTimeTypesInRange" message="tns:IPersonService_GetPersonAdministrativeTimeTypesInRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonAdministrativeTimeTypesInRangeResponse" message="tns:IPersonService_GetPersonAdministrativeTimeTypesInRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale" message="tns:IPersonService_IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescaleResponse" message="tns:IPersonService_IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonEncodedPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/DeletePersonEncodedPassword" message="tns:IPersonService_DeletePersonEncodedPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/DeletePersonEncodedPasswordResponse" message="tns:IPersonService_DeletePersonEncodedPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfPersonPasswordValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/CheckIfPersonPasswordValid" message="tns:IPersonService_CheckIfPersonPasswordValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/CheckIfPersonPasswordValidResponse" message="tns:IPersonService_CheckIfPersonPasswordValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/UpdateUserPassword" message="tns:IPersonService_UpdateUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/UpdateUserPasswordResponse" message="tns:IPersonService_UpdateUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentByPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetCurrentByPerson" message="tns:IPersonService_GetCurrentByPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetCurrentByPersonResponse" message="tns:IPersonService_GetCurrentByPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAdministratorAddedEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SendAdministratorAddedEmail" message="tns:IPersonService_SendAdministratorAddedEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SendAdministratorAddedEmailResponse" message="tns:IPersonService_SendAdministratorAddedEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonListByPersonIdList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonListByPersonIdList" message="tns:IPersonService_GetPersonListByPersonIdList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonListByPersonIdListResponse" message="tns:IPersonService_GetPersonListByPersonIdList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonListByPersonIdsAndPayTypeIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonListByPersonIdsAndPayTypeIds" message="tns:IPersonService_GetPersonListByPersonIdsAndPayTypeIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonListByPersonIdsAndPayTypeIdsResponse" message="tns:IPersonService_GetPersonListByPersonIdsAndPayTypeIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserTemporaryCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SaveUserTemporaryCredentials" message="tns:IPersonService_SaveUserTemporaryCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SaveUserTemporaryCredentialsResponse" message="tns:IPersonService_SaveUserTemporaryCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfTemporaryCredentialsValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/CheckIfTemporaryCredentialsValid" message="tns:IPersonService_CheckIfTemporaryCredentialsValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/CheckIfTemporaryCredentialsValidResponse" message="tns:IPersonService_CheckIfTemporaryCredentialsValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewPasswordForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SetNewPasswordForUser" message="tns:IPersonService_SetNewPasswordForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SetNewPasswordForUserResponse" message="tns:IPersonService_SetNewPasswordForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonListByCategoryTypeAndPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonListByCategoryTypeAndPeriod" message="tns:IPersonService_PersonListByCategoryTypeAndPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonListByCategoryTypeAndPeriodResponse" message="tns:IPersonService_PersonListByCategoryTypeAndPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPersonTimeEntriesAfterTerminationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/CheckPersonTimeEntriesAfterTerminationDate" message="tns:IPersonService_CheckPersonTimeEntriesAfterTerminationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/CheckPersonTimeEntriesAfterTerminationDateResponse" message="tns:IPersonService_CheckPersonTimeEntriesAfterTerminationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonMilestonesAfterTerminationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonMilestonesAfterTerminationDate" message="tns:IPersonService_GetPersonMilestonesAfterTerminationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonMilestonesAfterTerminationDateResponse" message="tns:IPersonService_GetPersonMilestonesAfterTerminationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordHistoryByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPasswordHistoryByUserName" message="tns:IPersonService_GetPasswordHistoryByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPasswordHistoryByUserNameResponse" message="tns:IPersonService_GetPasswordHistoryByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEncodedPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetEncodedPassword" message="tns:IPersonService_GetEncodedPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetEncodedPasswordResponse" message="tns:IPersonService_GetEncodedPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestartCustomMembershipProvider">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/RestartCustomMembershipProvider" message="tns:IPersonService_RestartCustomMembershipProvider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/RestartCustomMembershipProviderResponse" message="tns:IPersonService_RestartCustomMembershipProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLockedOutNotificationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SendLockedOutNotificationEmail" message="tns:IPersonService_SendLockedOutNotificationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SendLockedOutNotificationEmailResponse" message="tns:IPersonService_SendLockedOutNotificationEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIsNoteRequiredDetailsForSelectedDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetIsNoteRequiredDetailsForSelectedDateRange" message="tns:IPersonService_GetIsNoteRequiredDetailsForSelectedDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetIsNoteRequiredDetailsForSelectedDateRangeResponse" message="tns:IPersonService_GetIsNoteRequiredDetailsForSelectedDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOwnerProjectsAfterTerminationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetOwnerProjectsAfterTerminationDate" message="tns:IPersonService_GetOwnerProjectsAfterTerminationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetOwnerProjectsAfterTerminationDateResponse" message="tns:IPersonService_GetOwnerProjectsAfterTerminationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveOpportunitiesByOwnerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetActiveOpportunitiesByOwnerId" message="tns:IPersonService_GetActiveOpportunitiesByOwnerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetActiveOpportunitiesByOwnerIdResponse" message="tns:IPersonService_GetActiveOpportunitiesByOwnerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveStrawman">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SaveStrawman" message="tns:IPersonService_SaveStrawman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SaveStrawmanResponse" message="tns:IPersonService_SaveStrawman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStrawman">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/DeleteStrawman" message="tns:IPersonService_DeleteStrawman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/DeleteStrawmanResponse" message="tns:IPersonService_DeleteStrawman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrawmanDetailsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetStrawmanDetailsById" message="tns:IPersonService_GetStrawmanDetailsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetStrawmanDetailsByIdResponse" message="tns:IPersonService_GetStrawmanDetailsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrawmenListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetStrawmenListAll" message="tns:IPersonService_GetStrawmenListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetStrawmenListAllResponse" message="tns:IPersonService_GetStrawmenListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrawmenListAllShort">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetStrawmenListAllShort" message="tns:IPersonService_GetStrawmenListAllShort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetStrawmenListAllShortResponse" message="tns:IPersonService_GetStrawmenListAllShort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveStrawManFromExisting">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SaveStrawManFromExisting" message="tns:IPersonService_SaveStrawManFromExisting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SaveStrawManFromExistingResponse" message="tns:IPersonService_SaveStrawManFromExisting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsultantswithDemand">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetConsultantswithDemand" message="tns:IPersonService_GetConsultantswithDemand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetConsultantswithDemandResponse" message="tns:IPersonService_GetConsultantswithDemand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPersonHaveActiveStatusDuringThisPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/IsPersonHaveActiveStatusDuringThisPeriod" message="tns:IPersonService_IsPersonHaveActiveStatusDuringThisPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/IsPersonHaveActiveStatusDuringThisPeriodResponse" message="tns:IPersonService_IsPersonHaveActiveStatusDuringThisPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonsListHavingActiveStatusDuringThisPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonsListHavingActiveStatusDuringThisPeriod" message="tns:IPersonService_PersonsListHavingActiveStatusDuringThisPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonsListHavingActiveStatusDuringThisPeriodResponse" message="tns:IPersonService_PersonsListHavingActiveStatusDuringThisPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovedByManagerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetApprovedByManagerList" message="tns:IPersonService_GetApprovedByManagerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetApprovedByManagerListResponse" message="tns:IPersonService_GetApprovedByManagerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonListBySearchKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonListBySearchKeyword" message="tns:IPersonService_GetPersonListBySearchKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonListBySearchKeywordResponse" message="tns:IPersonService_GetPersonListBySearchKeyword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayHistoryShortByPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPayHistoryShortByPerson" message="tns:IPersonService_GetPayHistoryShortByPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPayHistoryShortByPersonResponse" message="tns:IPersonService_GetPayHistoryShortByPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPersonSalaryTypeListByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/IsPersonSalaryTypeListByPeriod" message="tns:IPersonService_IsPersonSalaryTypeListByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/IsPersonSalaryTypeListByPeriodResponse" message="tns:IPersonService_IsPersonSalaryTypeListByPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonDetailsShort">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonDetailsShort" message="tns:IPersonService_GetPersonDetailsShort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonDetailsShortResponse" message="tns:IPersonService_GetPersonDetailsShort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrawmanDetailsByIdWithCurrentPay">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetStrawmanDetailsByIdWithCurrentPay" message="tns:IPersonService_GetStrawmanDetailsByIdWithCurrentPay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetStrawmanDetailsByIdWithCurrentPayResponse" message="tns:IPersonService_GetStrawmanDetailsByIdWithCurrentPay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryByPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetHistoryByPerson" message="tns:IPersonService_GetHistoryByPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetHistoryByPersonResponse" message="tns:IPersonService_GetHistoryByPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrawmanListShortFilterWithTodayPay">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetStrawmanListShortFilterWithTodayPay" message="tns:IPersonService_GetStrawmanListShortFilterWithTodayPay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetStrawmanListShortFilterWithTodayPayResponse" message="tns:IPersonService_GetStrawmanListShortFilterWithTodayPay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminationReasonsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetTerminationReasonsList" message="tns:IPersonService_GetTerminationReasonsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetTerminationReasonsListResponse" message="tns:IPersonService_GetTerminationReasonsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonHireAndTerminationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonHireAndTerminationDate" message="tns:IPersonService_GetPersonHireAndTerminationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonHireAndTerminationDateResponse" message="tns:IPersonService_GetPersonHireAndTerminationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAllSeniorityCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/ListAllSeniorityCategories" message="tns:IPersonService_ListAllSeniorityCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/ListAllSeniorityCategoriesResponse" message="tns:IPersonService_ListAllSeniorityCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonListWithRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonListWithRole" message="tns:IPersonService_GetPersonListWithRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonListWithRoleResponse" message="tns:IPersonService_GetPersonListWithRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonMilestoneWithFinancials">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonMilestoneWithFinancials" message="tns:IPersonService_GetPersonMilestoneWithFinancials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonMilestoneWithFinancialsResponse" message="tns:IPersonService_GetPersonMilestoneWithFinancials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAsDefaultManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SetAsDefaultManager" message="tns:IPersonService_SetAsDefaultManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SetAsDefaultManagerResponse" message="tns:IPersonService_SetAsDefaultManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SetNewManager" message="tns:IPersonService_SetNewManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SetNewManagerResponse" message="tns:IPersonService_SetNewManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsultantUtilizationWeekly">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetConsultantUtilizationWeekly" message="tns:IPersonService_GetConsultantUtilizationWeekly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetConsultantUtilizationWeeklyResponse" message="tns:IPersonService_GetConsultantUtilizationWeekly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultantUtilizationDailyByPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/ConsultantUtilizationDailyByPerson" message="tns:IPersonService_ConsultantUtilizationDailyByPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/ConsultantUtilizationDailyByPersonResponse" message="tns:IPersonService_ConsultantUtilizationDailyByPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCompensationCoversMilestone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/IsCompensationCoversMilestone" message="tns:IPersonService_IsCompensationCoversMilestone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/IsCompensationCoversMilestoneResponse" message="tns:IPersonService_IsCompensationCoversMilestone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrentPayExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/CurrentPayExists" message="tns:IPersonService_CurrentPayExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/CurrentPayExistsResponse" message="tns:IPersonService_CurrentPayExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonGetExcelSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonGetExcelSet" message="tns:IPersonService_PersonGetExcelSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonGetExcelSetResponse" message="tns:IPersonService_PersonGetExcelSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermissions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPermissions" message="tns:IPersonService_GetPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPermissionsResponse" message="tns:IPersonService_GetPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonListWithCurrentPayByCommaSeparatedIdsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonListWithCurrentPayByCommaSeparatedIdsList" message="tns:IPersonService_GetPersonListWithCurrentPayByCommaSeparatedIdsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonListWithCurrentPayByCommaSeparatedIdsListResponse" message="tns:IPersonService_GetPersonListWithCurrentPayByCommaSeparatedIdsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonListAllShort">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonListAllShort" message="tns:IPersonService_PersonListAllShort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonListAllShortResponse" message="tns:IPersonService_PersonListAllShort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OwnerListAllShort">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/OwnerListAllShort" message="tns:IPersonService_OwnerListAllShort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/OwnerListAllShortResponse" message="tns:IPersonService_OwnerListAllShort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonListShortByRoleAndStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonListShortByRoleAndStatus" message="tns:IPersonService_PersonListShortByRoleAndStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonListShortByRoleAndStatusResponse" message="tns:IPersonService_PersonListShortByRoleAndStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonListShortByTitleAndStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonListShortByTitleAndStatus" message="tns:IPersonService_PersonListShortByTitleAndStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonListShortByTitleAndStatusResponse" message="tns:IPersonService_PersonListShortByTitleAndStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonListAllForMilestone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonListAllForMilestone" message="tns:IPersonService_PersonListAllForMilestone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonListAllForMilestoneResponse" message="tns:IPersonService_PersonListAllForMilestone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonCountByCommaSeperatedIdsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonCountByCommaSeperatedIdsList" message="tns:IPersonService_GetPersonCountByCommaSeperatedIdsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonCountByCommaSeperatedIdsListResponse" message="tns:IPersonService_GetPersonCountByCommaSeperatedIdsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonWorkingHoursDetailsWithinThePeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonWorkingHoursDetailsWithinThePeriod" message="tns:IPersonService_GetPersonWorkingHoursDetailsWithinThePeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonWorkingHoursDetailsWithinThePeriodResponse" message="tns:IPersonService_GetPersonWorkingHoursDetailsWithinThePeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecruiterList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetRecruiterList" message="tns:IPersonService_GetRecruiterList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetRecruiterListResponse" message="tns:IPersonService_GetRecruiterList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalespersonList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetSalespersonList" message="tns:IPersonService_GetSalespersonList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetSalespersonListResponse" message="tns:IPersonService_GetSalespersonList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonListSalesperson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonListSalesperson" message="tns:IPersonService_PersonListSalesperson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonListSalespersonResponse" message="tns:IPersonService_PersonListSalesperson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonListProjectOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonListProjectOwner" message="tns:IPersonService_PersonListProjectOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonListProjectOwnerResponse" message="tns:IPersonService_PersonListProjectOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneOffList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetOneOffList" message="tns:IPersonService_GetOneOffList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetOneOffListResponse" message="tns:IPersonService_GetOneOffList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonDetail" message="tns:IPersonService_GetPersonDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonDetailResponse" message="tns:IPersonService_GetPersonDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByAlias">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonByAlias" message="tns:IPersonService_GetPersonByAlias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonByAliasResponse" message="tns:IPersonService_GetPersonByAlias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePersonDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SavePersonDetail" message="tns:IPersonService_SavePersonDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SavePersonDetailResponse" message="tns:IPersonService_SavePersonDetail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPersonService/SavePersonDetailDataAccessFaultFault" name="DataAccessFaultFault" message="tns:IPersonService_SavePersonDetail_DataAccessFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonValidations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/PersonValidations" message="tns:IPersonService_PersonValidations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/PersonValidationsResponse" message="tns:IPersonService_PersonValidations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonOverheadByTimescale">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonOverheadByTimescale" message="tns:IPersonService_GetPersonOverheadByTimescale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonOverheadByTimescaleResponse" message="tns:IPersonService_GetPersonOverheadByTimescale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonRate" message="tns:IPersonService_GetPersonRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonRateResponse" message="tns:IPersonService_GetPersonRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateProposedFinancialsPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/CalculateProposedFinancialsPerson" message="tns:IPersonService_CalculateProposedFinancialsPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/CalculateProposedFinancialsPersonResponse" message="tns:IPersonService_CalculateProposedFinancialsPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePay">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SavePay" message="tns:IPersonService_SavePay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SavePayResponse" message="tns:IPersonService_SavePay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePay">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/DeletePay" message="tns:IPersonService_DeletePay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/DeletePayResponse" message="tns:IPersonService_DeletePay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSeniorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/ListSeniorities" message="tns:IPersonService_ListSeniorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/ListSenioritiesResponse" message="tns:IPersonService_ListSeniorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPermissionsForPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SetPermissionsForPerson" message="tns:IPersonService_SetPermissionsForPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SetPermissionsForPersonResponse" message="tns:IPersonService_SetPermissionsForPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonById" message="tns:IPersonService_GetPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonByIdResponse" message="tns:IPersonService_GetPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListManagersSubordinates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/ListManagersSubordinates" message="tns:IPersonService_ListManagersSubordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/ListManagersSubordinatesResponse" message="tns:IPersonService_ListManagersSubordinates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonListByStatusList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonListByStatusList" message="tns:IPersonService_GetPersonListByStatusList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonListByStatusListResponse" message="tns:IPersonService_GetPersonListByStatusList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonEmploymentHistoryById">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonEmploymentHistoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonAdministrativeTimeTypesInRange">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonAdministrativeTimeTypesInRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale">
      <soap:operation soapAction="http://tempuri.org/IPersonService/IsPersonTimeOffExistsInSelectedRangeForOtherthanGivenTimescale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonEncodedPassword">
      <soap:operation soapAction="http://tempuri.org/IPersonService/DeletePersonEncodedPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfPersonPasswordValid">
      <soap:operation soapAction="http://tempuri.org/IPersonService/CheckIfPersonPasswordValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <soap:operation soapAction="http://tempuri.org/IPersonService/UpdateUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentByPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetCurrentByPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAdministratorAddedEmail">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SendAdministratorAddedEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonListByPersonIdList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonListByPersonIdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonListByPersonIdsAndPayTypeIds">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonListByPersonIdsAndPayTypeIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserTemporaryCredentials">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SaveUserTemporaryCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfTemporaryCredentialsValid">
      <soap:operation soapAction="http://tempuri.org/IPersonService/CheckIfTemporaryCredentialsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewPasswordForUser">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SetNewPasswordForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonListByCategoryTypeAndPeriod">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonListByCategoryTypeAndPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPersonTimeEntriesAfterTerminationDate">
      <soap:operation soapAction="http://tempuri.org/IPersonService/CheckPersonTimeEntriesAfterTerminationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonMilestonesAfterTerminationDate">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonMilestonesAfterTerminationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordHistoryByUserName">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPasswordHistoryByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncodedPassword">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetEncodedPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartCustomMembershipProvider">
      <soap:operation soapAction="http://tempuri.org/IPersonService/RestartCustomMembershipProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLockedOutNotificationEmail">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SendLockedOutNotificationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIsNoteRequiredDetailsForSelectedDateRange">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetIsNoteRequiredDetailsForSelectedDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwnerProjectsAfterTerminationDate">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetOwnerProjectsAfterTerminationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveOpportunitiesByOwnerId">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetActiveOpportunitiesByOwnerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStrawman">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SaveStrawman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStrawman">
      <soap:operation soapAction="http://tempuri.org/IPersonService/DeleteStrawman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrawmanDetailsById">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetStrawmanDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrawmenListAll">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetStrawmenListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrawmenListAllShort">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetStrawmenListAllShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStrawManFromExisting">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SaveStrawManFromExisting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsultantswithDemand">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetConsultantswithDemand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPersonHaveActiveStatusDuringThisPeriod">
      <soap:operation soapAction="http://tempuri.org/IPersonService/IsPersonHaveActiveStatusDuringThisPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonsListHavingActiveStatusDuringThisPeriod">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonsListHavingActiveStatusDuringThisPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedByManagerList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetApprovedByManagerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonListBySearchKeyword">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonListBySearchKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayHistoryShortByPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPayHistoryShortByPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPersonSalaryTypeListByPeriod">
      <soap:operation soapAction="http://tempuri.org/IPersonService/IsPersonSalaryTypeListByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonDetailsShort">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonDetailsShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrawmanDetailsByIdWithCurrentPay">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetStrawmanDetailsByIdWithCurrentPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryByPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetHistoryByPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrawmanListShortFilterWithTodayPay">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetStrawmanListShortFilterWithTodayPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerminationReasonsList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetTerminationReasonsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonHireAndTerminationDate">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonHireAndTerminationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllSeniorityCategories">
      <soap:operation soapAction="http://tempuri.org/IPersonService/ListAllSeniorityCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonListWithRole">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonListWithRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonMilestoneWithFinancials">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonMilestoneWithFinancials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAsDefaultManager">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SetAsDefaultManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewManager">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SetNewManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsultantUtilizationWeekly">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetConsultantUtilizationWeekly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultantUtilizationDailyByPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/ConsultantUtilizationDailyByPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCompensationCoversMilestone">
      <soap:operation soapAction="http://tempuri.org/IPersonService/IsCompensationCoversMilestone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentPayExists">
      <soap:operation soapAction="http://tempuri.org/IPersonService/CurrentPayExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonGetExcelSet">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonGetExcelSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissions">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonListWithCurrentPayByCommaSeparatedIdsList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonListWithCurrentPayByCommaSeparatedIdsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonListAllShort">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonListAllShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OwnerListAllShort">
      <soap:operation soapAction="http://tempuri.org/IPersonService/OwnerListAllShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonListShortByRoleAndStatus">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonListShortByRoleAndStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonListShortByTitleAndStatus">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonListShortByTitleAndStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonListAllForMilestone">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonListAllForMilestone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonCountByCommaSeperatedIdsList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonCountByCommaSeperatedIdsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonWorkingHoursDetailsWithinThePeriod">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonWorkingHoursDetailsWithinThePeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecruiterList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetRecruiterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalespersonList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetSalespersonList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonListSalesperson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonListSalesperson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonListProjectOwner">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonListProjectOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneOffList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetOneOffList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonDetail">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByAlias">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonByAlias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePersonDetail">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SavePersonDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PersonValidations">
      <soap:operation soapAction="http://tempuri.org/IPersonService/PersonValidations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonOverheadByTimescale">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonOverheadByTimescale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonRate">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateProposedFinancialsPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/CalculateProposedFinancialsPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePay">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SavePay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePay">
      <soap:operation soapAction="http://tempuri.org/IPersonService/DeletePay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSeniorities">
      <soap:operation soapAction="http://tempuri.org/IPersonService/ListSeniorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPermissionsForPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SetPermissionsForPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListManagersSubordinates">
      <soap:operation soapAction="http://tempuri.org/IPersonService/ListManagersSubordinates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonListByStatusList">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonListByStatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://system64.ggk.com/PracticeManagementService/PersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
