Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/ReportService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
  <xs:complexType name="ArrayOfTimeEntriesGroupByClientAndProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntriesGroupByClientAndProject" nillable="true" type="tns:TimeEntriesGroupByClientAndProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntriesGroupByClientAndProject" nillable="true" type="tns:ArrayOfTimeEntriesGroupByClientAndProject" />
  <xs:complexType name="TimeEntriesGroupByClientAndProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Client" nillable="true" type="q1:Client" />
      <xs:element minOccurs="0" name="DayTotalHours" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q2:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupByClientAndProject" nillable="true" type="tns:TimeEntriesGroupByClientAndProject" />
  <xs:complexType name="ArrayOfTimeEntriesGroupByDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntriesGroupByDate" nillable="true" type="tns:TimeEntriesGroupByDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntriesGroupByDate" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
  <xs:complexType name="TimeEntriesGroupByDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayTotalHoursList" nillable="true" type="tns:ArrayOfTimeEntryByWorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupByDate" nillable="true" type="tns:TimeEntriesGroupByDate" />
  <xs:complexType name="ArrayOfTimeEntryByWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntryByWorkType" nillable="true" type="tns:TimeEntryByWorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntryByWorkType" nillable="true" type="tns:ArrayOfTimeEntryByWorkType" />
  <xs:complexType name="TimeEntryByWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="TimeType" nillable="true" type="q3:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryByWorkType" nillable="true" type="tns:TimeEntryByWorkType" />
  <xs:complexType name="ArrayOfPersonLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonLevelGroupedHours" nillable="true" type="tns:PersonLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonLevelGroupedHours" nillable="true" type="tns:ArrayOfPersonLevelGroupedHours" />
  <xs:complexType name="PersonLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminstrativeHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessDevelopmentHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="InternalHours" type="xs:double" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q4:Person" />
      <xs:element minOccurs="0" name="ProjectNonBillableHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLevelGroupedHours" nillable="true" type="tns:PersonLevelGroupedHours" />
  <xs:complexType name="ArrayOfProjectLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectLevelGroupedHours" nillable="true" type="tns:ProjectLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectLevelGroupedHours" nillable="true" type="tns:ArrayOfProjectLevelGroupedHours" />
  <xs:complexType name="ProjectLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForecastedHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q5:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectLevelGroupedHours" nillable="true" type="tns:ProjectLevelGroupedHours" />
  <xs:complexType name="ArrayOfWorkTypeLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkTypeLevelGroupedHours" nillable="true" type="tns:WorkTypeLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkTypeLevelGroupedHours" nillable="true" type="tns:ArrayOfWorkTypeLevelGroupedHours" />
  <xs:complexType name="WorkTypeLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillabileHours" type="xs:double" />
      <xs:element minOccurs="0" name="GroupedHoursList" nillable="true" type="tns:ArrayOfGroupedHours" />
      <xs:element minOccurs="0" name="NonBillabileHours" type="xs:double" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="WorkType" nillable="true" type="q6:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkTypeLevelGroupedHours" nillable="true" type="tns:WorkTypeLevelGroupedHours" />
  <xs:complexType name="ArrayOfGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupedHours" nillable="true" type="tns:GroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupedHours" nillable="true" type="tns:ArrayOfGroupedHours" />
  <xs:complexType name="GroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillabileTotal" type="xs:double" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NonBillableTotal" type="xs:double" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupedHours" nillable="true" type="tns:GroupedHours" />
</xs:schema>
