Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/ReportService/ReportService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" />
  <xs:element name="GetPersonTimeEntriesDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonTimeEntriesDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="GetPersonTimeEntriesDetailsResult" nillable="true" type="q1:ArrayOfTimeEntriesGroupByClientAndProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
