Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/ReportService/ReportService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.HumanCapital" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.HumanCapital" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="TerminationPersonsInRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePersonsAtTheBeginning" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NewHiredInTheRange" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonList" nillable="true" type="q1:ArrayOfPerson" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TerminationsInTheRange" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminationPersonsInRange" nillable="true" type="tns:TerminationPersonsInRange" />
</xs:schema>
