Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/ReportService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
  <xs:complexType name="ArrayOfTimeEntriesGroupByClientAndProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntriesGroupByClientAndProject" nillable="true" type="tns:TimeEntriesGroupByClientAndProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntriesGroupByClientAndProject" nillable="true" type="tns:ArrayOfTimeEntriesGroupByClientAndProject" />
  <xs:complexType name="TimeEntriesGroupByClientAndProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Client" nillable="true" type="q1:Client" />
      <xs:element minOccurs="0" name="DayTotalHours" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q2:Project" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupByClientAndProject" nillable="true" type="tns:TimeEntriesGroupByClientAndProject" />
  <xs:complexType name="ArrayOfTimeEntriesGroupByDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntriesGroupByDate" nillable="true" type="tns:TimeEntriesGroupByDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntriesGroupByDate" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
  <xs:complexType name="TimeEntriesGroupByDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayTotalHoursList" nillable="true" type="tns:ArrayOfTimeEntryByWorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupByDate" nillable="true" type="tns:TimeEntriesGroupByDate" />
  <xs:complexType name="ArrayOfTimeEntryByWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntryByWorkType" nillable="true" type="tns:TimeEntryByWorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntryByWorkType" nillable="true" type="tns:ArrayOfTimeEntryByWorkType" />
  <xs:complexType name="TimeEntryByWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="TimeType" nillable="true" type="q3:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryByWorkType" nillable="true" type="tns:TimeEntryByWorkType" />
</xs:schema>
