Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/ReportService/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" />
      <xsd:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
      <xsd:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_PersonTimeEntriesDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonTimeEntriesDetails" />
  </wsdl:message>
  <wsdl:message name="IReportService_PersonTimeEntriesDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonTimeEntriesDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_PersonTimeEntriesSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonTimeEntriesSummary" />
  </wsdl:message>
  <wsdl:message name="IReportService_PersonTimeEntriesSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonTimeEntriesSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPersonTimeEntriesTotalsByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonTimeEntriesTotalsByPeriod" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPersonTimeEntriesTotalsByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonTimeEntriesTotalsByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_TimePeriodSummaryReportByResource_InputMessage">
    <wsdl:part name="parameters" element="tns:TimePeriodSummaryReportByResource" />
  </wsdl:message>
  <wsdl:message name="IReportService_TimePeriodSummaryReportByResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimePeriodSummaryReportByResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_TimePeriodSummaryReportByProject_InputMessage">
    <wsdl:part name="parameters" element="tns:TimePeriodSummaryReportByProject" />
  </wsdl:message>
  <wsdl:message name="IReportService_TimePeriodSummaryReportByProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimePeriodSummaryReportByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_TimePeriodSummaryReportByWorkType_InputMessage">
    <wsdl:part name="parameters" element="tns:TimePeriodSummaryReportByWorkType" />
  </wsdl:message>
  <wsdl:message name="IReportService_TimePeriodSummaryReportByWorkType_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimePeriodSummaryReportByWorkTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ProjectSummaryReportByResource_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectSummaryReportByResource" />
  </wsdl:message>
  <wsdl:message name="IReportService_ProjectSummaryReportByResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectSummaryReportByResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ProjectSummaryReportByWorkType_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectSummaryReportByWorkType" />
  </wsdl:message>
  <wsdl:message name="IReportService_ProjectSummaryReportByWorkType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectSummaryReportByWorkTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="PersonTimeEntriesDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/PersonTimeEntriesDetails" message="tns:IReportService_PersonTimeEntriesDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/PersonTimeEntriesDetailsResponse" message="tns:IReportService_PersonTimeEntriesDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonTimeEntriesSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/PersonTimeEntriesSummary" message="tns:IReportService_PersonTimeEntriesSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/PersonTimeEntriesSummaryResponse" message="tns:IReportService_PersonTimeEntriesSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonTimeEntriesTotalsByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetPersonTimeEntriesTotalsByPeriod" message="tns:IReportService_GetPersonTimeEntriesTotalsByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetPersonTimeEntriesTotalsByPeriodResponse" message="tns:IReportService_GetPersonTimeEntriesTotalsByPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimePeriodSummaryReportByResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/TimePeriodSummaryReportByResource" message="tns:IReportService_TimePeriodSummaryReportByResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/TimePeriodSummaryReportByResourceResponse" message="tns:IReportService_TimePeriodSummaryReportByResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimePeriodSummaryReportByProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/TimePeriodSummaryReportByProject" message="tns:IReportService_TimePeriodSummaryReportByProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/TimePeriodSummaryReportByProjectResponse" message="tns:IReportService_TimePeriodSummaryReportByProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimePeriodSummaryReportByWorkType">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/TimePeriodSummaryReportByWorkType" message="tns:IReportService_TimePeriodSummaryReportByWorkType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/TimePeriodSummaryReportByWorkTypeResponse" message="tns:IReportService_TimePeriodSummaryReportByWorkType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectSummaryReportByResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/ProjectSummaryReportByResource" message="tns:IReportService_ProjectSummaryReportByResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/ProjectSummaryReportByResourceResponse" message="tns:IReportService_ProjectSummaryReportByResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectSummaryReportByWorkType">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/ProjectSummaryReportByWorkType" message="tns:IReportService_ProjectSummaryReportByWorkType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/ProjectSummaryReportByWorkTypeResponse" message="tns:IReportService_ProjectSummaryReportByWorkType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PersonTimeEntriesDetails">
      <soap:operation soapAction="http://tempuri.org/IReportService/PersonTimeEntriesDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonTimeEntriesSummary">
      <soap:operation soapAction="http://tempuri.org/IReportService/PersonTimeEntriesSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonTimeEntriesTotalsByPeriod">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetPersonTimeEntriesTotalsByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimePeriodSummaryReportByResource">
      <soap:operation soapAction="http://tempuri.org/IReportService/TimePeriodSummaryReportByResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimePeriodSummaryReportByProject">
      <soap:operation soapAction="http://tempuri.org/IReportService/TimePeriodSummaryReportByProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimePeriodSummaryReportByWorkType">
      <soap:operation soapAction="http://tempuri.org/IReportService/TimePeriodSummaryReportByWorkType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectSummaryReportByResource">
      <soap:operation soapAction="http://tempuri.org/IReportService/ProjectSummaryReportByResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectSummaryReportByWorkType">
      <soap:operation soapAction="http://tempuri.org/IReportService/ProjectSummaryReportByWorkType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:3262/ReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
