Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/OpportunityService/OpportunityService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://server2.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://server2.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
  <xs:element name="OpportunityGetExcelSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityGetExcelSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunityGetExcelSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="statusType" type="q1:OpportunityTransitionStatusType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityTransitionsResult" nillable="true" type="q2:ArrayOfOpportunityTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitionsByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitionsByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityTransitionsByPersonResult" nillable="true" type="q3:ArrayOfOpportunityTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="transition" nillable="true" type="q4:OpportunityTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunityTransitionInsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transitionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q5:OpportunityListContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityListAllResult" nillable="true" type="q6:ArrayOfOpportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListAllShort">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q7:OpportunityListContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListAllShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityListAllShortResult" nillable="true" type="q8:ArrayOfOpportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPrioritiesListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPrioritiesListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityPrioritiesListAllResult" nillable="true" type="q9:ArrayOfOpportunityPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetByIdResult" nillable="true" type="q10:Opportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunitySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="opportunity" nillable="true" type="q11:Opportunity" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunitySaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunitySaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityStatusListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityStatusListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityStatusListAllResult" nillable="true" type="q12:ArrayOfOpportunityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionStatusListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionStatusListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityTransitionStatusListAllResult" nillable="true" type="q13:ArrayOfOpportunityTransitionStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityConvertToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityConvertToProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunityConvertToProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOpportunityIdResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityPersonsResult" nillable="true" type="q14:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertOpportunityToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasPersons" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertOpportunityToProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertOpportunityToProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityPersonInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="personIdList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outSideResources" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityPersonInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityPersonDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="personIdList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityPersonDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>
