Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/CalendarService/CalendarService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system58.ggk.com/PracticeManagementService/CalendarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://system58.ggk.com/PracticeManagementService/CalendarService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="personId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="practiceManagerId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetCalendarResult" nillable="true" type="q1:ArrayOfCalendarItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="item" nillable="true" type="q2:CalendarItem" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCalendarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyHolidays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyHolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompanyHolidaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecurringHolidaysList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecurringHolidaysListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetRecurringHolidaysListResult" nillable="true" type="q3:ArrayOfTripleOfintstringboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecurringHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recurringHolidayId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isSet" type="xs:boolean" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecurringHolidayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecurringHolidaysInWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecurringHolidaysInWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRecurringHolidaysInWeekResult" nillable="true" type="q4:ArrayOfKeyValueOfdateTimestring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
