Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/CalendarService/CalendarService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system66.ggk.com/PracticeManagementService/CalendarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="KeyValuePairOfdateTimedateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element name="value" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimedateTime" nillable="true" type="tns:KeyValuePairOfdateTimedateTime" />
</xs:schema>
