Logic2020, Inc./Practice Management/DotNet/PracticeManagement/PracticeManagement/Service References/PracticeService/PracticeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PracticeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/PracticeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/PracticeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/PracticeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/PracticeService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPracticeService_GetPracticeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPracticeList" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_GetPracticeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPracticeListResponse" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_PracticeListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:PracticeListAll" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_PracticeListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:PracticeListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_PracticeGetById_InputMessage">
    <wsdl:part name="parameters" element="tns:PracticeGetById" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_PracticeGetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:PracticeGetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_UpdatePractice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePractice" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_UpdatePractice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePracticeResponse" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_InsertPractice_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPractice" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_InsertPractice_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPracticeResponse" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_RemovePractice_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePractice" />
  </wsdl:message>
  <wsdl:message name="IPracticeService_RemovePractice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePracticeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPracticeService">
    <wsdl:operation name="GetPracticeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeService/GetPracticeList" message="tns:IPracticeService_GetPracticeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeService/GetPracticeListResponse" message="tns:IPracticeService_GetPracticeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PracticeListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeService/PracticeListAll" message="tns:IPracticeService_PracticeListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeService/PracticeListAllResponse" message="tns:IPracticeService_PracticeListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PracticeGetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeService/PracticeGetById" message="tns:IPracticeService_PracticeGetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeService/PracticeGetByIdResponse" message="tns:IPracticeService_PracticeGetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePractice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeService/UpdatePractice" message="tns:IPracticeService_UpdatePractice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeService/UpdatePracticeResponse" message="tns:IPracticeService_UpdatePractice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPractice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeService/InsertPractice" message="tns:IPracticeService_InsertPractice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeService/InsertPracticeResponse" message="tns:IPracticeService_InsertPractice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePractice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeService/RemovePractice" message="tns:IPracticeService_RemovePractice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeService/RemovePracticeResponse" message="tns:IPracticeService_RemovePractice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPracticeService" type="tns:IPracticeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPracticeList">
      <soap:operation soapAction="http://tempuri.org/IPracticeService/GetPracticeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PracticeListAll">
      <soap:operation soapAction="http://tempuri.org/IPracticeService/PracticeListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PracticeGetById">
      <soap:operation soapAction="http://tempuri.org/IPracticeService/PracticeGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePractice">
      <soap:operation soapAction="http://tempuri.org/IPracticeService/UpdatePractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPractice">
      <soap:operation soapAction="http://tempuri.org/IPracticeService/InsertPractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePractice">
      <soap:operation soapAction="http://tempuri.org/IPracticeService/RemovePractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PracticeService">
    <wsdl:port name="BasicHttpBinding_IPracticeService" binding="tns:BasicHttpBinding_IPracticeService">
      <soap:address location="http://ws60/PracticeManagementService/PracticeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
